li{
    margin: 10px;
}
#container {
    padding: 30px;
    background-color: yellow;


}
.class1 {
    background-color: palevioletred;
}
.class2 {
    background-color: green;
}
.highlighted {
    color: red;
    background-color: aquamarine;
}
.attribute {
    background-color: yellow;
}
.placeholder {
    background-color: palevioletred;
}
.animals {
    background-color: pink;
}

.terrain {
    background-color: darkcyan;
}

body {
    font-family: arial;
    background-color: blueviolet;
}
.highlighted {

    background-color: #E17BBA !important;
}
#example {
    width: 300px;
    height: 200px;
    margin: 15px auto;
    background-color: aquamarine;


}

#result {
    width: 300px;
    height: 200px;
    margin: 15px auto;
    background-color: white;
}
.answer {
    width: 300px ;
    height:200px;
    margin: 150px auto;
    background-color: darkgrey;
    font-size: 18pt;
}

.switch {
    color: white;
    background-color: deeppink;
    width: 100%;
    height: 20px;

}

#place {
    width: 70%;
    height: 40px;
    font-size: 18pt;

}
.item {
    width: 300px;
    height: 50px;
    margin: 15px auto;
    background-color: darkgrey;

}

.remove {

    color: red;
    display: inline-flex;
}